body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 184, 184);
  align-items: center;
}

main{
    width: 70%;
    margin: 10px;
    justify-content: space-between;
}
.container{
    display: flex;
}
h1{
    font-size: 80px;
    color: blue;
    display: flex;
    margin: auto;
}
.create{
     display: flex;
}
h2{
    font-size: 30px;
   
}
form{
    width: 90%;
    margin: auto;
}
.signin{
    border-radius: 8px;
    max-width: 432px;
    padding: 24px;
    width: 100;
    background-color: white;


}
.date {
    flex: 1;
    padding: 11px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 15px;
    background-color: #f5f6f7;
    color: #1c1e21;
}
.ngaythangnamsinh:focus {
    outline: none;
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}